:root {
  color-scheme: light dark;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Lato", arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 1.5rem;
}

h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;

  .button-link {
    padding: 0.5em;
    background-color: #ba1829;
    color: white;
    border-radius: 0.8rem;
    text-decoration: none;
  }

  .button-link:hover {
    opacity: 0.8;
  }
}
