# DDEV has some issues with HTTPS and certificate verification, so for Development HTTP is fine
PUBLIC_TYPO3_URL="http://skylarks-hp.ddev.site"
PUBLIC_POCKETBASE_URL="http://127.0.0.1:8090"
PUBLIC_CLUB_ID=485
PUBLIC_TEAM_NAME=Skylarks
PUBLIC_AUTH_FUNCS_ENABLED="true"
PUBLIC_LOG_LEVEL=ERROR

BSM_API_KEY=KEY
SKYLARKS_API_AUTH_HEADER=HEADER

# Admin email and password for PocketBase authentication
POCKETBASE_EMAIL=test@example.com
POCKETBASE_PASSWORD=$uper$ecret

# Apple Client Secret configuration values
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_DURATION=15777000