services:
  diamondplanner:
    extends:
      file: docker-compose-common.yml
      service: diamondplanner
    image: obnoxieux/skylarks-diamond-planner:staging
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.skylarks-next-frontend-staging.rule=Host(`staging.app.berlinskylarks.de`)"
      - "traefik.http.routers.skylarks-next-frontend-staging.entrypoints=websecure"
      - "traefik.http.routers.skylarks-next-frontend-staging.tls.certresolver=letsEncrypt"
      - "traefik.docker.network=proxy"
      - "traefik.http.middlewares.skylarks-next-frontend-staging.basicauth.users=skylarks:$$2y$$05$$ojFS3Hd7r17zBCKG/O0p4.4nltDVAZB1/fm4lupwJ/ow2.ErfYnKS"

networks:
  proxy:
    external: true

volumes:
  pb_data:
