services:
  diamondplanner:
    extends:
      file: docker-compose-common.yml
      service: diamondplanner
    image: obnoxieux/skylarks-diamond-planner:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.skylarks-next.rule=Host(`app.berlinskylarks.de`)"
      - "traefik.http.routers.skylarks-next.entrypoints=websecure"
      - "traefik.http.routers.skylarks-next.tls.certresolver=letsEncrypt"
      - "traefik.docker.network=proxy"

networks:
  proxy:
    external: true

volumes:
  pb_data:
