.dialog-overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: light-dark(var(--color-surface-50), #0a0a0acc);
    opacity: 80%;
}

.dialog-content {
    position: fixed;
    background-color: var(--sidebar-color);
    left: 50%;
    top: 50%;
    z-index: 50;
    width: 100%;
    border: 1px solid;
    max-width: 94%;
    translate: -50% -50%;
    padding: calc(var(--spacing) * 5);

    @media (min-width: 40rem) {
        max-width: 640px;
    }

    @media (min-width: 48rem) {
        width: 100%;
    }
}