.drawer {
  --drawer-border-color: var(--color-surface-900-100);
}

.drawer-content {
  position: fixed;
  z-index: 50;
  padding: calc(var(--spacing) * 6);
  background-color: var(--nav-item-background);
  gap: calc(var(--spacing) * 4);
  --tw-ease: var(--ease-in-out);
  transition-timing-function: var(--ease-in-out);

  .sheet-close-button {
    border: 1px solid var(--color-surface-500);

    &:disabled {
      pointer-events: none;
    }
  }
}

.drawer-content[data-state="closed"] {
  --tw-duration: 0.3s;
  transition-duration: 0.3s;
  animation: exit var(--tw-animation-duration, var(--tw-duration, 0.15s)) var(--tw-ease, ease)
    var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1)
    var(--tw-animation-direction, normal) var(--tw-animation-fill-mode, none);
}

.drawer-content[data-state="open"] {
  --tw-duration: 0.48s;
  transition-duration: 0.48s;
  animation: enter var(--tw-animation-duration, var(--tw-duration, 0.15s)) var(--tw-ease, ease)
    var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1)
    var(--tw-animation-direction, normal) var(--tw-animation-fill-mode, none);
}

.drawer-top {
  top: 0;
  border-bottom: 2px solid var(--drawer-border-color);
  inset-inline: 0;
}

.drawer-top[data-state="closed"] {
  --tw-exit-translate-y: -100%;
}

.drawer-top[data-state="open"] {
  --tw-enter-translate-y: -100%;
}

.drawer-bottom {
  bottom: 0;
  border-top: 2px solid var(--drawer-border-color);
  inset-inline: 0;
}

.drawer-bottom[data-state="closed"] {
  --tw-exit-translate-y: 100%;
}

.drawer-bottom[data-state="open"] {
  --tw-enter-translate-y: 100%;
}

.drawer-horizontal {
  width: 100%;

  @media (min-width: 48rem) {
    width: 80%;
  }

  @media (min-width: 64rem) {
    width: 70%;
  }

  @media (min-width: 80rem) {
    width: 50%;
  }
}

.drawer-left {
  left: 0;
  border-right: 2px solid var(--drawer-border-color);
  inset-block: 0;
  height: 100%;
  overflow-y: scroll;
  border-radius: var(--radius-lg);
}

.drawer-left[data-state="open"] {
  --tw-enter-translate-x: -100%;
}

.drawer-left[data-state="closed"] {
  --tw-exit-translate-x: -100%;
}

.drawer-right {
  right: 0;
  border-left: 2px solid var(--drawer-border-color);
  inset-block: 0;
  height: 100%;
  overflow-y: scroll;
  border-radius: var(--radius-lg);
}

.drawer-right[data-state="closed"] {
  --tw-exit-translate-x: 100%;
}

.drawer-right[data-state="open"] {
  --tw-enter-translate-x: 100%;
}

.navigation-sheet-content {
  padding: 0;
  width: 70%;

  .sheet-close-button {
    display: none;
  }
}
