@layer theme {
    /* Forms */
    /* Components: Forms (Core) */
    .fieldset {
        display: block;
        width: 100%;
    }

    .legend {
        display: block;
        width: 100%;
    }

    .label {
        display: block;
        width: 100%;

        & > * + * {
            margin-top: calc(var(--spacing) * 1);
        }
    }

    .label-text {
        display: block;
        font-size: var(--text-xs);
        line-height: var(--text-xs--line-height);
        font-weight: var(--font-weight-medium);
        text-decoration-line: none;
    }

    /* Components: Forms > Input Group */
    .input-group {
        border-radius: var(--radius-base);
        display: grid;
        align-items: stretch;
        overflow: hidden;

        /* Edges */
        outline-color: transparent;
        border-width: 0;
        --tw-ring-inset: inset;
        --tw-ring-color: var(--color-surface-200-800);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 var(--default-ring-width) var(--tw-ring-color, currentColor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

        /* Child Edges */

        & > :first-child {
            border-top-left-radius: var(--radius-base);
            border-bottom-left-radius: var(--radius-base);
        }

        & > :last-child {
            border-top-right-radius: var(--radius-base);
            border-bottom-right-radius: var(--radius-base);
        }

        /* Dividers */

        & > * + * {
            border-left-width: 1px !important;
            border-color: var(--color-surface-200-800);
        }
    }

    /* Children: Cell --- */
    .ig-cell {
        font-size: var(--text-sm);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: calc(var(--spacing) * 4);
    }

    /* Children: Form Elements --- */
    /* We recreate a subset of form element styles here */
    /* These are purpose-built to work in the group */
    .ig-input {
        background-color: transparent;
        display: block;
        width: 100%;

        /* Size */
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
        padding-block: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 3);

        /* Edges */
        outline-color: transparent;
        border-width: 0;
        --tw-ring-inset: inset;

        &:active {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus-within {
            --tw-ring-color: var(--color-primary-500);
        }
    }

    .ig-select {
        background-color: transparent;
        display: block;
        width: 100%;

        /* Size */
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
        padding-block: calc(var(--spacing) * 1);

        /* Edges */
        outline-color: transparent;
        border-width: 0;
        --tw-ring-inset: inset;

        &:active {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus-within {
            --tw-ring-color: var(--color-primary-500);
        }

        /* Option --- */

        & option {
            background-color: var(--color-surface-50-950);
            color: var(--color-surface-950-50);
            border-radius: var(--radius-base);
            font-size: var(--text-base);
            line-height: calc(var(--spacing) * 9);
            height: calc(var(--spacing) * 9);
            padding: calc(var(--spacing) * 2);
        }
    }

    .ig-btn {
        /* Icon Spacing */
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: calc(var(--spacing) * 2);

        /* Typography */
        text-decoration-line: none;
        white-space: nowrap;

        /* Size */
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
        padding-block: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 4);

        /* Transitions */
        transition-property: all;
        transition-timing-function: var(--default-transition-timing-function);
        transition-duration: var(--default-transition-duration);

        &:hover {
            filter: brightness(125%);
            @media (prefers-color-scheme: dark) {
                filter: brightness(75%);
            }
        }
    }

    /* Components: Forms > Input */
    .input {
        background-color: transparent;
        border-radius: var(--radius-base);
        display: block;
        width: 100%;

        /* Size */
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
        padding-block: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 3);

        /* Edges */
        outline-color: transparent;
        border-width: 0;
        --tw-ring-inset: inset;
        --tw-ring-color: var(--color-surface-200-800);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 var(--default-ring-width) var(--tw-ring-color, currentColor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

        &::placeholder {
            color: light-dark(var(--color-gray-500), var(--color-gray-400));
        }

        &:active {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus-within {
            --tw-ring-color: var(--color-primary-500);
        }

        /* File Input --- */

        &[type='file']::file-selector-button {
            cursor: pointer;
            border-radius: var(--radius-base);
            background-color: var(--color-surface-950-50);
            color: var(--color-surface-50-950);
            transform: translateY(calc(var(--spacing) * -0.5));
            margin-right: calc(var(--spacing) * 2);
            text-transform: capitalize;

            /* Size */
            font-size: var(--text-xs);
            height: var(--text-xs--line-height);
            padding-block: calc(var(--spacing) * 0);
            padding-inline: calc(var(--spacing) * 3);
        }

        /* Range Input --- */
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color */

        &[type='range'] {
            accent-color: var(--color-surface-950-50);
            box-shadow: none;
            padding-inline: initial;
        }

        /* Color Picker Input --- */
        /* https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color */

        &[type='color'] {
            border-radius: var(--radius-base);
            width: calc(var(--spacing) * 8.5);
            height: calc(var(--spacing) * 8.5);
            padding: 0;
            border: none;
            outline: none;
            -webkit-appearance: none;
        }

        &[type='color']::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        &[type='color']::-webkit-color-swatch {
            border: none;
            border-radius: var(--radius-base);
        }

        &[type='color']::-moz-color-swatch {
            border: none;
        }

        &[type='color']::-moz-color-swatch {
            border: none;
        }
    }

    /* Ghost Input*/
    /* Used for the <TagsInput> component. */
    .input-ghost {
        padding: 0;
        background-color: transparent;

        border-color: transparent;
        outline-color: transparent;
        --tw-ring-color: transparent;

        &:active {
            border-color: transparent !important;
        }

        &:focus {
            border-color: transparent !important;
        }

        &:focus-within {
            border-color: transparent !important;
        }
    }

    /* Components: Forms > Radio / Checkbox */
    .checkbox {
        --tw-ring-color: var(--color-surface-200-800);

        cursor: pointer;
        background-color: var(--color-surface-300-700);
        border-radius: var(--radius-sm);
        height: calc(var(--spacing) * 5);
        width: calc(var(--spacing) * 5);

        &:focus-within {
            --tw-ring-color: var(--color-primary-500);
        }

        &:hover {
            filter: brightness(105%);
        }

        &:focus {
            filter: brightness(105%);
        }

        &:checked {
            background-color: var(--color-primary-500);

            &:hover {
                background-color: var(--color-primary-500);
            }

            &:focus {
                background-color: var(--color-primary-500);
                border: 0;
            }
        }

        &:indeterminate {
            background-color: var(--color-primary-500);

            &:hover {
                background-color: var(--color-primary-500);
            }

            &:focus {
                background-color: var(--color-primary-500);
                border: 0;
            }
        }
    }

    .radio {
        --tw-ring-color: var(--color-surface-200-800);

        cursor: pointer;
        background-color: var(--color-surface-300-700);
        border-radius: var(--radius-sm);
        height: calc(var(--spacing) * 5);
        width: calc(var(--spacing) * 5);

        /* Base Size --- */
        border-radius: 100%;
        height: calc(var(--spacing) * 5);
        width: calc(var(--spacing) * 5);

        &:focus-within {
            --tw-ring-color: var(--color-primary-500);
        }

        &:hover {
            filter: brightness(105%);
        }

        &:focus {
            filter: brightness(105%);
        }

        &:checked {
            background-color: var(--color-primary-500);

            &:hover {
                background-color: var(--color-primary-500);
            }

            &:focus {
                background-color: var(--color-primary-500);
                border: 0;
            }
        }
    }

    /* Components: Forms > Select */
    /*
        BROWSER CONSISTENCY WARNING:
        Select (especially Size and Multiple) are notoriously difficult to style
        consistently cross-browser, so all styles adhere to progress enhancement.
        We've styled this element within the confines of that browser's capabilities.
    */
    .select {
        background-color: transparent;
        border-radius: var(--radius-base);
        display: block;
        width: 100%;

        /* Size */
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
        padding-block: calc(var(--spacing) * 1);

        /*
            WARNING
            Do not set `padding-inline` or it breaks
            the native drop-down arrow for selects.
        */
        /* Edges */
        outline-color: transparent;
        border-width: 0;
        --tw-ring-inset: inset;
        --tw-ring-color: var(--color-surface-200-800);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 var(--default-ring-width) var(--tw-ring-color, currentColor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

        &:active {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus-within {
            --tw-ring-color: var(--color-primary-500);
        }

        /* Multiple & Size --- */

        & > * + * {
            margin-top: calc(var(--spacing) * 2);
        }

        &[multiple] {
            border-radius: var(--radius-container);
            padding: calc(var(--spacing) * 1);

            & optgroup,
            & option {
                background-color: transparent;
            }
        }

        &[size] {
            border-radius: var(--radius-container);
            padding: calc(var(--spacing) * 1);

            & optgroup,
            & option {
                background-color: transparent;
            }
        }

        /* Optgroup --- */

        & optgroup {
            background-color: var(--color-surface-50-950);
            color: var(--color-surface-950-50);
        }

        & optgroup > * + * {
            margin-top: calc(var(--spacing) * 2);
        }

        & optgroup option:first-of-type {
            margin-top: calc(var(--spacing) * 2);
        }

        & optgroup option:last-child {
            margin-bottom: calc(var(--spacing) * 2) !important;
        }

        /* Option --- */

        & option {
            background-color: var(--color-surface-50-950);
            color: var(--color-surface-950-50);
            border-radius: var(--radius-base);
            font-size: var(--text-base);
            line-height: calc(var(--spacing) * 9);
            height: calc(var(--spacing) * 9);
            padding: calc(var(--spacing) * 2);
        }
    }

    /* Components: Forms > Textarea */
    .textarea {
        background-color: transparent;
        border-radius: var(--radius-base);
        display: block;
        width: 100%;

        /* Size */
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
        padding-block: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 3);

        /* Edges */
        outline-color: transparent;
        border-width: 0;
        --tw-ring-inset: inset;
        --tw-ring-color: var(--color-surface-200-800);
        --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 var(--default-ring-width) var(--tw-ring-color, currentColor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

        &:active {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus {
            --tw-ring-color: var(--color-primary-500);
        }

        &:focus-within {
            --tw-ring-color: var(--color-primary-500);
        }
    }

    @media (prefers-color-scheme: dark) {
        .input,
        .select,
        .textarea {
            --tw-ring-color: var(--color-surface-400);
        }
    }
}