/* adapted from Skeleton table style */

.linescore {
  width: 100%;
  overflow: hidden;
  /* background */
  /* Theme: Rounded */
  border-radius: var(--radius-container);
}

/* === Hover Styles ==== */

.linescore-hover tbody tr {
  &:hover {
    background-color: color-mix(in oklab, var(--color-surface-500) 20%, transparent);
  }
}

/* === linescore Head === */

.linescore thead {
  background-color: var(
    --color-primary-50-950
  ) /* light-dark(var(--color-primary-50), var(--color-primary-950)) */;
  color: var(--color-primary-950-50);
  border-color: color-mix(
    in oklab,
    var(--color-surface-500) /* oklch(55.6% 0 0deg) = #737373 */ 20%,
    transparent
  );
}

.linescore thead tr {
  text-transform: capitalize;
  text-align: center;
}

.linescore thead th {
  --tw-font-weight: var(--font-weight-bold);
  font-weight: var(--font-weight-bold);
  border-left-style: var(--tw-border-style);
  border-left-width: 1px;
  padding: calc(var(--spacing) * 4);
  border-color: color-mix(in oklab, var(--color-surface-500) 20%, transparent);
}

.linescore thead th:first-child {
  border-style: var(--tw-border-style);
  border-width: 0;
}

/* === linescore Body === */

.linescore tbody tr {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-color: color-mix(
    in oklab,
    var(--color-surface-500) /* oklch(55.6% 0 0deg) = #737373 */ 20%,
    transparent
  );
  text-align: center;
}

.linescore tbody td {
  border-left-style: var(--tw-border-style);
  border-left-width: 1px;
  border-color: color-mix(in oklab, var(--color-surface-500) 20%, transparent);
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 4);
  vertical-align: top;
  white-space: nowrap;

  @media (width >= 48rem /* 768px */) {
    white-space: normal;
  }
}

.linescore tbody td:first-child {
  border-style: var(--tw-border-style);
  border-width: 0;
  text-align: left;
}

.linescore-compact tbody td {
  padding-block: calc(var(--spacing) * 3) !important;
}

.linescore-comforlinescore tbody td {
  padding-block: calc(var(--spacing) * 5) !important;
}
