/** Applies to all logos that have different variants for dark and light mode. */
@media (prefers-color-scheme: dark) {
  .dark-logo {
    display: none;
  }

  .light-logo {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .light-logo {
    display: none;
  }

  .dark-logo {
    display: block;
  }
}
