/* Components: Dividers */
/* Horizontal Rule */
hr, .hr {
    border-color: light-dark(var(--color-surface-200), var(--color-surface-100));
    border-top-width: 1px;
    display: block;
    width: 100%;
}

/* Vertical Rule */
.vr {
    border-color: light-dark(var(--color-surface-200), var(--color-surface-100));
    border-left-width: 1px;
    display: inline-block;
    height: 100%;
}

/* Components: Placeholders */
.placeholder {
    background-color: var(--color-surface-200-800);
    border-radius: var(--radius-base);
    min-height: calc(var(--spacing) * 4);
}

.placeholder-circle {
    aspect-ratio: 1 / 1;
    background-color: var(--color-surface-200-800);
    border-radius: 100%;
    min-height: calc(var(--spacing) * 5);
}