.tabs-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: var(--radius-container);
    gap: calc(var(--spacing) * 1);
    @apply md:gap-3;
    @apply p-1;
    @apply lg:p-2;
    @apply preset-tonal-surface;
}

.tabs-trigger {
    @apply btn;
    @apply data-[state=active]:preset-filled-primary-500;
    @apply hover:preset-tonal-primary;
    @apply text-sm;
    @apply md:text-base;
}