html, body {
    @apply h-full;
}

.text-justify {
    text-align: justify;
}

.h1 {
    @apply my-2
}

:root {
    color-scheme: light dark;
}

hr, .hr {
    border-color: light-dark(var(--color-surface-200), var(--color-surface-100));
}