/**
 * Skeleton Overrides
 */

@media (prefers-color-scheme: dark) {

    .input,
    .select,
    .textarea {
        --tw-ring-color: var(--color-surface-400);
    }

    .preset-tonal-surface {
        background-color: var(--color-surface-800);
        color: var(--color-surface-contrast-800);
        @apply border;
        border-color: var(--color-surface-500)
    }
}

/**
  * We do not want the default background colors
  */
.apexcharts-svg {
    background: none !important;
}

.prose {
    --tw-prose-body: light-dark(var(--base-font-color), var(--base-font-color-dark));
    --tw-prose-bold: light-dark(var(--base-font-color), var(--base-font-color-dark));
}