@import "css/flatpickr.postcss";
@import "css/stats.postcss";
@import "css/logos.postcss";
@import "css/global.postcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;