##---------------------- Actual Application------------------------ ##

# URL to use for communication with Skylarks CMS website (local dev environment or production)
PUBLIC_TYPO3_URL="https://skylarks-cms.ddev.site"

# only used for Vite dev server (prod environment calls itself), ignored for production builds
PUBLIC_POCKETBASE_URL="http://127.0.0.1:8090"

# affects client-side-logging, possible values: DEBUG, ERROR
PUBLIC_LOG_LEVEL="ERROR"

# also affects verbosity, non-production environments show visual indicator
PUBLIC_APPLICATION_CONTEXT="Development"

# tile server to use for leaflet maps
PUBLIC_TILE_SERVER="tile.openstreetmap.de"

# VAPID public key for web push functionality
PUBLIC_VAPID_PUBLIC_KEY=""

##---------------------- DEV ONLY------------------------ ##

# Admin email and password for PocketBase authentication - only used for codegen during development
POCKETBASE_EMAIL=""
POCKETBASE_PASSWORD=""

# Testing
TEST_USER_NAME=""
TEST_USER_PASSWORD=""

# only used during local development for automatic translation (Wuchale)
#GEMINI_API_KEY=""
