.modal-sheet {
  all: unset;
  width: inherit;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;

  max-width: 100%;
  @media (min-width: 48rem) {
    max-width: 80%;
  }

  @media (min-width: 64rem) {
    max-width: 70%;
  }

  @media (min-width: 80rem) {
    max-width: 50%;
  }

  .sheet-close-button {
    border: 1px solid var(--color-surface-500);

    &:disabled {
      pointer-events: none;
    }
  }

  transform: translateX(-100%);
  transition: var(
    --side-drawer-transition,
    transform 0.25s ease-out
  );
  visibility: hidden;
}

.modal-sheet[data-side="right"] {
  left: unset;
  right: 0;
  transform: translateX(100%);
  border-left: 1px solid var(--color-surface-900-100);
  border-top-left-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
}

.modal-sheet[data-side="left"] {
  border-right: 1px solid var(--color-surface-900-100);
  border-top-right-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);
}

.modal-sheet,
.modal-sheet::backdrop {
  overscroll-behavior: contain;
}

.modal-sheet:modal {
  background-color: var(--nav-item-background);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}

.modal-sheet:open {
  visibility: visible;
}

.modal-sheet:open {
    transition-delay: 0s;
    transform: none;
}
