.carta-font-code {
  font-family: '...', monospace;
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: normal;
}

.carta-toolbar {
  height: unset !important;
  flex-wrap: wrap !important;
  gap: calc(var(--spacing) * 2);
}

@media (prefers-color-scheme: dark) {
  .shiki, .shiki span {
    color: var(--shiki-dark) !important;
  }
}
