/* Components: Dividers */
/* Horizontal Rule */
hr,
.hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-border),
    transparent
  );
}

/* Vertical Rule */
.vr {
  border-color: var(--color-border);
  border-left-width: 1px;
  display: inline-block;
}

/* Components: Placeholders */
.placeholder {
  background-color: var(--color-surface-200-800);
  border-radius: var(--radius-base);
  min-height: calc(var(--spacing) * 4);
}

.placeholder-circle {
  aspect-ratio: 1 / 1;
  background-color: var(--color-surface-200-800);
  border-radius: 100%;
  min-height: calc(var(--spacing) * 5);
}
